.el-popper {
  border: 0px !important;
  top: 30px !important;
}
.el-popper .el-menu--horizontal {
  border: 0px;
}
.el-popper .el-menu--horizontal .el-menu--popup {
  padding: 0px;
  min-width: 150px;
}
.el-popper .el-menu--horizontal .el-menu--popup .el-menu-item {
  background-color: #DBD8E3;
  color: #352f44;
}
.el-popper .el-menu--horizontal .el-menu--popup .el-menu-item:hover {
  background-color: #352f44;
  color: #DBD8E3;
}
